@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --background: #fff;
  --foreground: #2C2C2C;
  /*  Fonst colors  */
  --sectionColor: #F5F5F5;
  --headerColor: #0C0C0D;
  --textColor: #1E1E1E;
  --articleColor:#757575;

  /* Font sizes*/
  --mainHeaderHeight:48px;
  --textSectionHeight:24px;
  --mainTextHeight:16px;
  /* Font sizes*/
  --letterSpacing: -0.02em;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", serif;
  margin: 0;
  padding: 0;
}


.section {
  background: var(--sectionColor);
}